{% extends "shop/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Checkout
{% endblock %}

{% block content %}
  <h1>Checkout</h1>

  <div class="order-info" >
    <h3>Your order</h3>
    <ul>
      {% for item in cart %}
        <li>
          {{ item.quantity }}x {{ item.product.name }}
          <span>Ksh{{ item.total_price }}</span>
        </li>
      {% endfor %}
    </ul>
    <p>Total: Ksh{{ cart.get_total_price }}</p>
  </div>

  <form action="." method="post" class="order-form">
    {{ form|crispy }}
    <p><input type="submit" class="btn btn-dark" value="Place order">

    {% csrf_token %}
  </form>
<!--<div id="paypal-button-container">-->
<!--  <p><input type="submit" class="btn btn-dark" value="Pay With PayPal"  href="{% url "orders:paypal-checkout" %}""></p>-->
<!--</div>-->

{% endblock %}