{% extends "shop/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="content-section">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!--        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>-->
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
         <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
             <legend class="border-bottom mb-4">Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-dark" type="submit" name="action">Update
    <i class="material-icons right"></i>
<!--                <button class="btn btn-outline-info" type="=submit">Update</button>-->
            </div>
    </form>

    </div>

{% endblock content %}
